<p id="notice"><%= notice %></p>

<p>
  <strong>Job:</strong>
  <%= @review.job %>
</p>

<p>
  <strong>Text:</strong>
  <%= @review.text %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
